{% extends 'base.html' %}
{% block title %}Contactanos {% endblock %}
{% block content %}
<br>
		{% if info_enviado %}
			Gracias por enviar un comentario, nos pondremos en contacto contigo.
			<p>La informacion recibida fue la siguiente</p>
			<p>email utilizado: {{ email }}</p>
			<p>Titulo: {{titulo}}</p>
			<p>Texto citado: {{ texto }}</p>
		{% else %}
		<form action="." method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="submit">
		</form>
		{% endif %}
{% endblock %}
